 body {
 	background-color: white;
 	font-family: arial, sans-serif;
 }
 
 .header {
	 display: flex;
	 float: right;
	 padding-left: 30px;
	 padding-right: 30px;
	 margin-left: 0;
	 margin-right: 0;
	 font-size: 13px;
	 opacity: .75;
	 position: relative;
	 text-align: right;
	 align-items: center;
	 white-space: nowrap;
	 color: #222;
	 vertical-align: middle;
	  }
 
 .header2 {
	 padding-right: 15px;
	 display: block;
	 line-height: normal;
	 vertical-align: middle;
 }
 
 .gmail {
	 padding-left: 15px;
	 display: inline-block;
	 vertical-align: middle;
 }
 
 .header3 {
	 height: 30px;
	 min-width: 30px;
	 background-size: 528px 68px;
	 background-image: url("images/icons.png");
	 background-position: -132px -38px;
	 opacity: .55;
	 vertical-align: middle;
	 display: inline-block;
 }
 
 a {
	 text-decoration: none;
	 color: #000;
 }
 
 .images {
	 padding-left: 15px;
	 padding-right: 10px;
	 display: inline-block;
	 vertical-align: middle;
 }
 
 .header4 {
	 padding-left: 0;
	 display: inline-block;
	 vertical-align: middle;
	 line-height: normal;
	 text-align: left;
	 position: relative;
	 color: #222;
 }
 
 .buttons {
	 width: 30px;
	 height: 30px;
	 vertical-align: middle;
	 padding-left: 15px;
 }
 
 .header5 {
	 padding-left: 15px;
	 display: inline-block;
	 
 }
 
 .notifications {
	 background-position: -194px -21px;
	 background-color: rgba(0,0,0,.55);
	 color: #fff;
	 box-sizing: border-box;
	 border-radius: 50%;
	 height: 20px;
	 width: 20px;
	 display: inline-block;
	 background-size: 528px 68px;
	 background-image: url("images/icons.png");
	 vertical-align: middle;
	 margin: 5px;
 }